<style>
  .field{
    margin-left: 60px;
  }
  .actions {
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .link-container {
    margin-left: 54px;
  }
  #text-field {
    margin-top: 23px;
    width: 300px;
  }
</style>

<%= form_for [current_user, @destination] do |f| %>
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
      <% @destination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :city, placeholder: "Site Name" %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, placeholder: "City, State/Country" %>
  </div>
  <div class="field" id="text-field">
    <%= f.text_area :description, placeholder: "Write anything else you'd like here!", size: "30x6" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
