<%= form_for @destination do |f| %>
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
      <% @destination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <style>
    .field{
    	margin-left: 60px;
    }

    .actions {
    	margin-left: 60px;
    	margin-top: 15px;
      margin-bottom: 10px;
    }
    p {
    	margin-left: 60px;
    }
  </style>
  <div class="field">
    <%= f.label :attraction %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
