<style media="screen">
  img {
    margin-left: -4px;
  }
  .attr-container {
    margin-left: 50px;
  }
  .link-container {
    margin-left: 56px;
    margin-bottom: 5px;
  }
  .main{
    font-weight: 400;
    font-size: 40px;
    margin-left: 35px;
    margin-bottom: -7px;
  }
  .img-container{
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
  }
  #location {
    font-size: 20px;
    font-weight: 400px;
    margin-left: -6px;
  }
  #site-seen {
    font-size: 20px;
    margin-left: -6px;
    margin-top: -3px;
  }
</style>

<div class="main">
  <%= @destination.city %>
</div>

<div class="attr-container">

  <div id="location">
    <%= @destination.location %>
  </div>

  <div id="site-seen">
  <% if @destination.site_seen == true %>
      Site<strong>Seen</strong>
  <% else %>
      Site<strong>unSeen</strong>
  <% end %>
  </div>

  <div>
    <%= @destination.description %>
  </div>

</div>

<div class="img-container">
<img src=<%= "https://maps.googleapis.com/maps/api/staticmap?center=#{@destination.location.tr(' ','+')}&zoom=12&size=320x320&maptype=roadmap&key=AIzaSyCaxPKuFEU4FfLL9Z9n13jZP_tLIs1RA4Y"%> >

<% @instagram.each do |instagram| %>
<%= image_tag instagram["images"]["low_resolution"]["url"] %>
<% end %>
</div>
