<div>
  <strong>City:</strong>
  <%= @destination.city %>
</div>

<div>
  <strong>State/Country:</strong>
  <%= @destination.location %>
</div>

<div>
  <strong>Description:</strong>
  <%= @destination.description %>
</div>

<div>
  <strong>Rating:</strong>
  <%= @destination.rating %>
</div>
<%= link_to 'Edit', edit_destination_path(@destination) %>
<%= link_to 'Back', destinations_path %>
<%= link_to 'Remove', destination_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>

<img src=<%= "https://maps.googleapis.com/maps/api/staticmap?center=#{@destination.city.tr(' ','+')}+#{@destination.location.tr(' ','+')}&zoom=12&size=320x320&maptype=roadmap&key=AIzaSyCaxPKuFEU4FfLL9Z9n13jZP_tLIs1RA4Y"%> >

<% @instagram.each do |instagram| %>
<%= image_tag instagram["images"]["low_resolution"]["url"] %>
<% end %>
